


<div{{ attributes.addClass('useful-links') }}>
  <div class="useful-links__container">
    <div class="useful-links__content">
        <a 
          class="useful-links__item"
          href="https://edu.gov.ru/"
          target="_blank"
        >
          <img src="{{path}}guv-aduc.png" alt="Министерство просвещения Российской Федерации" typeof="Image">
          <p class="useful-links__text">
            Министерство просвещения Российской Федерации
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="https://www.gosuslugi.ru/"
          target="_blank"
        >
          <img src="{{path}}ser-guv.png" alt="Портал государственных услуг Российской Федерации" typeof="Image">
          <p class="useful-links__text">
            Портал государственных услуг Российской Федерации
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="http://do.krd.ru/"
          target="_blank"
        >
          <img src="{{path}}do-krd.png" alt="Департамент образования администрации муниципального образования город Краснодар" typeof="Image">
          <p class="useful-links__text">
            Департамент образования администрации муниципального образования город Краснодар
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="http://iro23.ru/"
          target="_blank"
        >
          <img src="{{path}}univ-up.png" alt="Институт Развития Образования Краснодарского Края" typeof="Image">
          <p class="useful-links__text">
            Институт Развития Образования Краснодарского Края
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="http://www.edu.ru/"
          target="_blank"
        >
          <img src="{{path}}rus-educ.png" alt="Российское образование" typeof="Image">
          <p class="useful-links__text">
            Российское образование
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="http://fcior.edu.ru/"
          target="_blank"
        >
          <img src="{{path}}fz-sourses.png" alt="Федеральный Центр информационно-образовательных ресурсов" typeof="Image">
          <p class="useful-links__text">
            Федеральный Центр информационно-образовательных ресурсов
          </p>
        </a>
        <a 
          class="useful-links__item"
          href="http://centerstart.ru/"
          target="_blank"
        >
          <img src="{{path}}start.png" alt="Краснодарский методический центр Старт" typeof="Image">
          <p class="useful-links__text">
            Краснодарский методический центр Старт
          </p>
        </a>
    </div>
  </div>
</div>