<div{{ attributes.addClass('block') }}>
  {{ title_prefix }}
  {% if label %}
    <div class="headline">
      <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    </div>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('block-content', 'clearfix') }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div> <!-- /.block -->

