<header class="header">
  <div class="container">
	 	<div class="header__top">
      {{ page.header_top }}
    </div>
   
   {{ page.header_left }}
	 
	 {{ page.header_center }}
	 {{ page.header_right }}
	 {{ page.menu }}
  </div>
</header>

<main class="main">
  <div class="container">
	 {{ page.content }}
  </div>
</main>

<footer class="footer">
  <div class="container">
   {{ page.footer }}
  </div>
</footer>

<div id="button-up">
 <span class="button-up-txt">Наверх ^</span>
</div>







