<header class="header">
  <div class="container">
	  <div class="header__top">
      {{ page.header_top }}
    </div>

     <div class="header__center center-header">
			<div class="center-header__left">
				{{ page.header_left }}
			 </div>
			 <div class="center-header__logo">
				{{ page.header_center }}
			 </div>
			<div class="center-header__right">
				{{ page.header_right }}
			</div>
		 </div>

	 <div class="header__bottom">
    <nav class="header__menu">
      {{ page.menu }}
    </nav>
   </div>
  </div>
</header>

<main class="main">
  <div class="container">
	 {{ page.content }}
  </div>
</main>

<footer class="footer">
  <div class="container">
   {{ page.footer }}
  </div>
</footer>

<div id="button-up">
 <span class="button-up-txt">Наверх ^</span>
</div>







