<header class="header">

  <div class="header__top top-header container">
    <div class="top-header__column">
     {{ page.header_top_left }}
    </div>
    <div class="top-header__column">
      {{ page.header_top_right }}
     </div>
  </div>

  <div class="header__center center-header">
    <div class="container">
      <div class="center-header__column">
     <div class="center-header__flags">
      {{ page.header_center_flags }}
     </div>
     <div class="center-header__name">
      {{ page.header_center_name }}
     </div>
      </div>

      <div class="center-header__column">
     {{ page.header_center_logo }}
      </div>

      <div class="center-header__column">
    <div class="center-header__contacts">
      {{ page.header_center_contacts }}
     </div>

     <div class="center-header__icons" data-da="bottom-header,3,1450">
       <a class="icon-impaired" href="#" title="Версия для слабовидящих">
         <img src="/sites/default/themes/custom/start_theme/assets/images/icons/eye.png" alt="Версия для слабовидящих">
       </a>

       {% if logged_in == false %}
       <!-- Modal Trigger -->
       <a href="#modal_login" class="modal-trigger" title="вход на сайт">
         <img src="/sites/default/themes/custom/start_theme/assets/images/icons/login.png" alt="Вход на сайт">
       </a>
       {% endif %}

       {% if logged_in %}
       <a class="link unregister" title="вход на сайт" href="{{ path('user.logout') }}">
         <i class="material-icons main-color">logout</i>
       </a>
       {% endif %}
    </div>

      </div>
    </div>
  </div>

  <div class="header__bottom bottom-header container">
    <div class="bottom-header__menu">
      {{ page.menu }}
     </div> 
     <div class="bottom-header__burger">
       <p class="icon-menu">МЕНЮ</p>
       <div class="icon-menu">
         <span></span>
         <span></span> {# hamburger icon #}
         <span></span>
       </div>
     </div>
  </div>
     
</header>

{% if page.system %}
<section class="system">
  <div class="container">
    {{ page.system }}
  </div>
</section>
{% endif %}

<section class="slider-banner">
 <div class="container-no-padding">
  {{ page.slider }}
 </div>
</section>

<section class="container section-1">
    <aside class="section-1__main-menu menu-main">
      {{ page.sidebar_menu }}
    </aside>

    <div class="section-1__content content-section-1">
      {{ page.section_1 }}
    </div>

    <aside class="section-1__banners banners-custom">
      {{ page.banners_right }}
    </aside>
</section>


<footer class="footer">
 <div class="container">
  {{ page.footer }}
 </div>
</footer>


  <!-- modal_login Structure -->
<div id="modal_login" class="modal">
  <div class="modal-content">
      <form class="user-login-form antibot" data-drupal-selector="user-login-form" data-action="/user/login" action="/user/login" method="post" id="user-login-form" accept-charset="UTF-8">
        <noscript>
          <div class="antibot-no-js antibot-message antibot-message-warning">Вы должны включить JavaScript чтобы использовать эту форму.</div>
        </noscript>
        
        <label>Имя пользователя</label>
        <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required" required="required" aria-required="true">

        <label for="edit-pass" class="js-form-required form-required active">Пароль</label>
        <input data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

        <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
        
        <input data-drupal-selector="edit-antibot-key" type="hidden" name="antibot_key" value="bUcEpvn70wYuyn-OQ8_zbOdLXsI15V0oE8hkQKaU4z8">

  <div class="modal-footer">
    <button type="submit" class="waves-effect waves-light btn modal-trigger">
       войти<i class="material-icons right">login</i>
    </button>
   </div>
  </form>
 </div>
</div>




{# <div id="button-up">
<span class="button-up-txt">Наверх ^</span>
</div> #}