{%
  set classes = [
    'social-links',
    'node',
    'node-' ~ node.bundle|clean_class,
    view_mode ? 'node--type-socialnye-seti' ~ view_mode|clean_class,
  ]
%}

 <ul{{attributes.addClass(classes)}}>
  {% set field_vk = content.field_vk|render %}
  {% if field_vk|length %}
   <li class="social-links__vk">{{field_vk}}</li>
  {% endif %}

  {% set field_ok = content.field_ok|render %}
  {% if field_ok|length %}
   <li class="social-links__ok">{{field_ok}}
   </li>
   {% endif %}

   {% set field_facebook = content.field_facebook|render %}
   {% if field_facebook|length %}
    <li class="social-links__facebook">{{field_facebook}}</li>
    {% endif %}

    {% set field_instagram = content.field_instagram|render %}
    {% if field_instagram|length %}
     <li class="social-links__instagram">{{field_instagram}}</li>
     {% endif %}

    {% set field_youtube = content.field_youtube|render %}
    {% if field_youtube|length %}
     <li class="social-links__ytube">{{field_youtube}}
     </li>
    {% endif %}
 </ul>
 
 <div class="views-field-edit-node">
  <a href="/node/76/edit?destination=/node" hreflang="ru">изменить</a>
 </div>
