<div class="wrap-oo">
	<div class="oo">
      	<header>
        <div class="header_up">
	  			<div class="container">
          			<div class="row">
            			
							{{ page.header_up }}
             			
           			</div>
          		</div>
			</div>
        	<div class="header_top"> 
	  			 <div class="container"> 
          			<div class="row">
							{{ page.header_top }}
             			
           			 </div>
          		</div> 
			</div> 
			<div class="header_center bgcolor_darkBlue">
				<div class="container vs">
					<div class="row">
						<div class="col-md-2">
							{{ page.header_left }}
						</div>
						<div class="col-md-8">
							{{ page.header_center }}
						</div>
		            	<div class="col-md-2 key">
		            		<a  class="vs_panel" href="#" title="Версия для слабовидящих">
					<span class="vs_img"></span>
                            </a>
				<a class="search_btn" href="/search" title="Поиск"></a>
							{{page.header_right}}
						</div>
					</div>
				</div>
		    </div>
		    <div class="header_info">
		        <div class="container">
		            <div class="row">
		            	<div class="col-md-12">
		                	{{ page.header_info }}
		             	</div>
		            </div>
		         </div>
		    </div>
		</header>	
        <nav class="top_menu bgcolor_darkBlue">
	  		<div class="container">        
			  <div class="row">
                           
					{{ page.nav_top }}
                          
			 </div>	
			</div>
		</nav>
		<!--main-->
                <div class="main">
		<div class="container" role="main">
			<div class="row">
				<div class="col-md-3">
					<div class="sidebar left_sidebar">
						{{ page.system_menu }}
						{{ page.left_sidebar }}
                	</div>
				</div>
				<div class="col-md-6 content">
					{{ page.system  }}
					<div class="vs_voice"><div class="main_top">{{ page.main_top }}</div>{{ page.content }}</div>
				</div>
				<div class="col-md-3">
					<div class="sidebar right_sidebar">
	                    {{ page.right_sidebar }}
	                </div>
				</div>
			</div>
		</div>
               </div>
             <div class="screen screen_1">
            
               <div class="wrap">
           
                 {{ page.screen_1 }}
		
               </div>
             </div>
             <div class="line_img">
              <img src="{{ url('<front>') }}{{ directory }}/images/oblbgt.png">
             </div>
             <div class="screen screen_2">
               <div class="wrap">

                 {{ page.screen_2 }}

               </div>
             </div>
             <div class="screen screen_3">
               <div class="container">
                <div class="row">
                  <div class="wrap2">

                  {{ page.screen_3 }}
                  </div>
                </div>
               </div>
             </div>
             <div class="screen screen_4">
               <div class="wrap">

                 {{ page.screen_4 }}

               </div>
             </div>
              <div class="line_img line_img_2">
                <img src="{{ url('<front>') }}{{ directory }}/images/oblbgb.png">
             </div>

             <div class="screen screen_5">
               <div class="wrap">

                 {{ page.screen_5 }}

               </div>
             </div>
             <div class="screen screen_6">
                <div class="container">
               <div class="row">
                <div class="col-md-12">
               <div class="wrap">

                 {{ page.screen_6 }}

               </div>
               </div>
              </div>
             </div>

             </div>
             <div class="screen screen_7">
                <div class="container">
               <div class="row">
                <div class="col-md-12">
               <div class="wrap">

                 {{ page.screen_7 }}

               </div>
               </div>
              </div>
             </div>

             </div>
             <div class="screen screen_8">
                <div class="container">
               <div class="row">
                <div class="col-md-12">
               <div class="wrap">

                 {{ page.screen_8 }}

               </div>
               </div>
              </div>
             </div>

             </div>
              <div class="line_img line_img_3">
              <img src="{{ url('<front>') }}{{ directory }}/images/oblbgb.png">
             </div>

             <div class="screen screen_9">
              <div class="container">
               <div class="row">
                <div class="col-md-12">
               <div class="wrap">

                 {{ page.screen_9 }}

               </div>
               </div>
              </div>
             </div>
             </div>
	
	</div> <!-- oo -->
</div>
<div id="button-up">
<span class="button-up-txt">Наверх ^</span>
</div>


