{% set cls = 'menu-user-anonymous' %}

<nav class="{{ cls }}">
  <ul class="{{ cls }}-menu">
    <li class="{{ cls }}-item"> 
      <a class="{{ cls }}-link {{ cls }}-register" href="{{ path('user.login') }}">
       вход
      </a>
    </li>
    <li class="{{ cls }}-item"> 
      <a class="{{ cls }}-link {{ cls }}-register" href="{{ path('user.register') }}">
       регистрация
      </a>
    </li>
  </ul>
</nav> 
